Repository semgrep/semgrep: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, hadolint

shellcheck:
  name: shellcheck
  language: docker_image
  entry: koalaman/shellcheck:v0.7.1

hadolint:
  name: hadolint
  language: docker_image
  entry: hadolint/hadolint:v1.18.0 hadolint
  args:
  - --ignore
  - DL3008
  - --ignore
  - DL3018

perf tests take longer
  scripts/compare_perf.py
Due: none

Reduce spacegrep and spacecat to a single executable. Spacegrep behavior is the default, spacecat behavior requires the command name to be 'spacecat' (or 'space-cat').
  spacegrep/Makefile
  spacegrep/src/bin/Space_main.ml
  spacegrep/src/bin/Spacecat_main.ml
  spacegrep/src/bin/Spacegrep_main.ml
  spacegrep/src/bin/dune
Due: none

Update README.md
  README.md
Due: none

Spacecat is no longer a separate executable.
  .github/workflows/build-tests.yml
  Dockerfile
  scripts/install-alpine-semgrep-core
  scripts/osx-release.sh
  semgrep/setup.py
Due: shellcheck, hadolint

Combine spacegrep and spacecat into one executable file (#1870)
  .github/workflows/build-tests.yml
  Dockerfile
  scripts/install-alpine-semgrep-core
  scripts/osx-release.sh
  semgrep/setup.py
  spacegrep/Makefile
  spacegrep/src/bin/Space_main.ml
  spacegrep/src/bin/Spacecat_main.ml
  spacegrep/src/bin/Spacegrep_main.ml
  spacegrep/src/bin/dune
Due: shellcheck, hadolint

semgrep-core/bin -> semgrep-core/cli
  CONTRIBUTING.md
  semgrep-core/cli/Main.ml
  semgrep-core/cli/dune
  semgrep-core/cli/flags.sh
  semgrep-core/cli/main_spatch.ml
Due: shellcheck

fix make
  semgrep-core/Makefile
  semgrep-core/cli/dune
Due: none

* semgrep.yml: fix path
  semgrep.yml
Due: none

bin/ -> cli/ in semgrep-core (#1871)
  CONTRIBUTING.md
  semgrep-core/Makefile
  semgrep-core/cli/Main.ml
  semgrep-core/cli/dune
  semgrep-core/cli/flags.sh
  semgrep-core/cli/main_spatch.ml
  semgrep.yml
Due: shellcheck

Create bad.py
  bad.py
Due: none

Map some modifier keywords
  semgrep-core/parsing/Parse_csharp_tree_sitter.ml
Due: shellcheck

remove all workflows for testing
  .github/workflows/build-tests.yml
  .github/workflows/docker.yml
  .github/workflows/homebrew-core-head.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/validate-release.yml
  bad.py
Due: none

Parse foreach
  semgrep-core/parsing/Parse_csharp_tree_sitter.ml
Due: shellcheck

adding support for running all js rules on ts files automatically. (#1806)
  scripts/compare_perf.py
  semgrep/semgrep/rule.py
  semgrep/semgrep/target_manager.py
  semgrep/tests/public_repos.py
Due: none

Revert "adding support for running all js rules on ts files automatically. (#1806)"
  scripts/compare_perf.py
  semgrep/semgrep/rule.py
  semgrep/semgrep/target_manager.py
  semgrep/tests/public_repos.py
Due: none

Error out in --test if ruleid or ok not in reported IDs
  semgrep/semgrep/test.py
Due: none

Use latest version of ocaml-tree-sitter, which removes error nodes from the CST and lists them as errors alongside the CST.
  semgrep-core/parsing/Parse_csharp_tree_sitter.ml
  semgrep-core/parsing/Parse_go_tree_sitter.ml
  semgrep-core/parsing/Parse_java_tree_sitter.ml
  semgrep-core/parsing/Parse_javascript_tree_sitter.ml
  semgrep-core/parsing/Parse_ruby_tree_sitter.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.mli
  semgrep-core/parsing/Parse_typescript_tree_sitter.ml
  semgrep-core/parsing/Test_parsing.ml
Due: shellcheck

introducing new issue
  bad.py
Due: none

Install 'spacegrep' executables as part of the main 'make install', useful for testing locally.
  Makefile
Due: none

Set default reason for failed test to "", so as to avoid internal error.
  semgrep/tests/public_repos.py
Due: none

Add details to the reason for expected failures
  semgrep/tests/public_repos.py
Due: none

Ignore tree-sitter error nodes (#1876)
  Makefile
  semgrep-core/parsing/Parse_csharp_tree_sitter.ml
  semgrep-core/parsing/Parse_go_tree_sitter.ml
  semgrep-core/parsing/Parse_java_tree_sitter.ml
  semgrep-core/parsing/Parse_javascript_tree_sitter.ml
  semgrep-core/parsing/Parse_ruby_tree_sitter.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.mli
  semgrep-core/parsing/Parse_typescript_tree_sitter.ml
  semgrep-core/parsing/Test_parsing.ml
  semgrep/tests/public_repos.py
Due: shellcheck

Fix CI by being backward compatible and throw an exn when tree-sitter returns an error
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
Due: none

Fix CI by being backward compatible and throw an exn when tree-sitter returns (#1878)
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
Due: none

First step in leveraging tree-sitter error recovery
  semgrep-core/parsing/Parse_code.ml
  semgrep-core/tests/OTHER/skipping_errors/test.js
Due: none

Step 2: Move code out of Parse_tree_sitters_helpers in Parse_code
  semgrep-core/parsing/Parse_code.ml
  semgrep-core/parsing/Parse_csharp_tree_sitter.mli
  semgrep-core/parsing/Parse_go_tree_sitter.mli
  semgrep-core/parsing/Parse_java_tree_sitter.mli
  semgrep-core/parsing/Parse_ruby_tree_sitter.mli
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.mli
  semgrep-core/parsing/Parse_typescript_tree_sitter.mli
Due: shellcheck

Step 3: handle Partial result in Parse_code.ml
  semgrep-core/parsing/Parse_code.ml
Due: none

Final step: propagate recoved parsing errors to the top
  semgrep-core/cli/Main.ml
  semgrep-core/parsing/Parse_code.ml
  semgrep-core/parsing/Parse_code.mli
  semgrep-core/parsing/Test_parsing.ml
  semgrep-core/synthesizing/Synthesizer.ml
  semgrep-core/synthesizing/Unit_synthesizer.ml
  semgrep-core/tests/Test.ml
Due: none

Leveraging tree-sitter error recovery in semgrep-core (#1880)
  semgrep-core/cli/Main.ml
  semgrep-core/parsing/Parse_code.ml
  semgrep-core/parsing/Parse_code.mli
  semgrep-core/parsing/Parse_csharp_tree_sitter.mli
  semgrep-core/parsing/Parse_go_tree_sitter.mli
  semgrep-core/parsing/Parse_java_tree_sitter.mli
  semgrep-core/parsing/Parse_ruby_tree_sitter.mli
  semgrep-core/parsing/Parse_tree_sitter_helpers.ml
  semgrep-core/parsing/Parse_tree_sitter_helpers.mli
  semgrep-core/parsing/Parse_typescript_tree_sitter.mli
  semgrep-core/parsing/Test_parsing.ml
  semgrep-core/synthesizing/Synthesizer.ml
  semgrep-core/synthesizing/Unit_synthesizer.ml
  semgrep-core/tests/OTHER/skipping_errors/test.js
  semgrep-core/tests/Test.ml
Due: shellcheck

Remove many of the .opam in semgrep-core
  .gitignore
  semgrep-core/analyzing/dune
  semgrep-core/core/dune
  semgrep-core/finding/dune
  semgrep-core/fuzzy/dune
  semgrep-core/matching/dune
  semgrep-core/parsing/dune
  semgrep-core/reporting/dune
  semgrep-core/semgrep_analyzing.opam
  semgrep-core/semgrep_core.opam
  semgrep-core/semgrep_finding.opam
  semgrep-core/semgrep_fuzzy.opam
  semgrep-core/semgrep_matching.opam
  semgrep-core/semgrep_parsing.opam
  semgrep-core/semgrep_reporting.opam
  semgrep-core/semgrep_synthesizing.opam
  semgrep-core/semgrep_tainting.opam
  semgrep-core/semgrep_typing.opam
  semgrep-core/semgrep_utils.opam
  semgrep-core/synthesizing/dune
  semgrep-core/tainting/dune
  semgrep-core/typing/dune
Due: none

Remove many of the .opam in semgrep-core (#1881)
  .gitignore
  semgrep-core/analyzing/dune
  semgrep-core/core/dune
  semgrep-core/finding/dune
  semgrep-core/fuzzy/dune
  semgrep-core/matching/dune
  semgrep-core/parsing/dune
  semgrep-core/reporting/dune
  semgrep-core/semgrep_analyzing.opam
  semgrep-core/semgrep_core.opam
  semgrep-core/semgrep_finding.opam
  semgrep-core/semgrep_fuzzy.opam
  semgrep-core/semgrep_matching.opam
  semgrep-core/semgrep_parsing.opam
  semgrep-core/semgrep_reporting.opam
  semgrep-core/semgrep_synthesizing.opam
  semgrep-core/semgrep_tainting.opam
  semgrep-core/semgrep_typing.opam
  semgrep-core/semgrep_utils.opam
  semgrep-core/synthesizing/dune
  semgrep-core/tainting/dune
  semgrep-core/typing/dune
Due: none

Test files for partial class header with attribute matching
  semgrep-core/tests/java/partial_class_attr.java
  semgrep-core/tests/java/partial_class_attr.sgrep
Due: none

Test files for partial class header with attribute matching (#1883)
  semgrep-core/tests/java/partial_class_attr.java
  semgrep-core/tests/java/partial_class_attr.sgrep
Due: none

Path conditions:
  shellcheck: any of: .sh and not (^cli/tests/.+$) and not (^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md)
  hadolint: any of: Dockerfile and not (^cli/tests/.+$) and not (^semgrep/tests/e2e/(targets|snapshots)|semgrep-core/tests|.*\.md)
